$font: "Heebo", sans-serif;
$primaryColor: #020253;
$secondaryColor: #e5eeff;
$colorLabel: #2c2c2c;
$labelFontSize: 16px;
$border: 1px solid #707070;
$paddingFormTop: 250px;
$sizePrimary: 3.5em;
$sizeSecondary: 1.5em;
$smallerPrimary: 2em;
$smallSecondary: 0.7em;
