$navWidth: 1920px;
$navHeight: 80px;
$headerWidth: 1920px;
$headerHeight: 460px;
$bgcHeader: #13e8f163;
$font: "Heebo", sans-serif;
$bgcFooter: #3a3a3a;
$secondaryFont: "Montserrat", sans-serif;
$button: rgb(192, 211, 253);
